@use "./sass/_index" as *

.App
    min-height: 100vh

    .App-header
        padding: calc($spacing  / 2) $spacing
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        display: flex
        justify-content: space-between
        align-items: center

        .theme-switcher
            cursor: pointer
            display: flex
            gap: calc($spacing  / 2)
            align-items: center
    
    main
        padding: calc($spacing  * 2)

        .search-cr
            width: 100%
            display: flex
            justify-content: space-between
            margin-bottom: calc($spacing  * 2)
            
            input
                width: 50%
                padding: calc($spacing  / 2) $spacing
                border-radius: calc($spacing  / 2)
                border: 1px solid $clr-sec-dark
                outline: none
            
            select
                padding: calc($spacing  / 2) $spacing
                border-radius: calc($spacing  / 2)
                border: 1px solid $clr-sec-dark
                outline: none


        .items-cr
            display: grid
            grid-template-columns: repeat(4, 1fr)
            gap: calc($spacing  * 2)
            
            .item
                border-radius: calc($spacing  / 2)
                cursor: pointer

                &:hover
                    transform: translateY(-5px)
                    box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.08)

                img
                    width: 100%
                    border-radius: calc($spacing  / 2) calc($spacing  / 2) 0 0

                h2
                    margin: 0
                    padding: calc($spacing  / 2)
                    font-weight: $font-w800
                
                .details
                    padding: calc($spacing  / 2)
                    font-size: $font-s400

        .back-btn
            margin-bottom: calc($spacing  * 2) 
            padding: calc($spacing  / 2) $spacing
            border-radius: calc($spacing  / 2)
            cursor: pointer
            font-weight: $font-w800
            width: min-content
            display: flex
            gap: calc($spacing  / 2)
            align-items: center

        .cr
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: 1fr
            gap: 0 calc($spacing  * 2)

            .details
                display: grid
                grid-template-columns: repeat(2, 1fr)
                grid-template-rows: 0.5fr min-content 0.5fr
                gap: $spacing
                grid-template-areas: "name name" "row1 row2" "borders borders"

                h2
                    grid-area: name
                    margin: 0
                    font-weight: $font-w800
                
                .row1
                    grid-area: row1
                    line-height: 2
                
                .row2
                    grid-area: row2
                    line-height: 2
                
                .borders
                    grid-area: borders

                    .borderCr
                        display: flex
                        gap: calc($spacing  / 2)
                        flex-wrap: wrap

                        span
                            margin-top: $spacing
                            padding: calc($spacing  / 2)
                            border-radius: calc($spacing  / 2)
                            font-weight: $font-w300
                            font-size: $font-s300
                            cursor: pointer

    &.light-theme
        background-color: $clr-pr-light
        color: $clr-text-light

        .search-cr input, select, option
            background: $clr-sec-light
            color: $clr-text-light
            border-color: $clr-sec-light !important
            box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12)

        .bg-sec
            background-color: $clr-sec-light

    &.dark-theme
        background-color: $clr-pr-dark
        color: $clr-text-dark

        .search-cr input, select, option
            background: $clr-sec-dark
            color: $clr-text-dark
            border-color: $clr-sec-dark
            box-shadow: none

        .bg-sec
            background-color: $clr-sec-dark

@media only screen and (max-width: 481px)
    .App
        font-size: $font-s300
        .App-header
            h1
                font-size: $font-s400
        main
            padding: calc($spacing  * 2)

            .items-cr
                grid-template-columns: 1fr !important
                gap: $spacing

            .cr
                grid-template-columns: 1fr !important
                grid-template-rows: min-content 1fr
                gap: calc($spacing  * 2)

                .details
                    grid-template-areas: "name" "row1" "row2" "borders"
